[user]
	email = a.kampjes@gmail.com
	name = Andrew Kampjes
[alias]
  st = status
  co = checkout
  glog = log --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph
[sendemail]
  smtpserver = smtp.gmail.com
  smtpuser = a.kampjes@gmail.com
  smtpencryption = tls
  chainreplyto = false
  smtpserverport = 587
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = nvim -R -
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[pager]
	color = false
[diff]
	tool = nvim -d -
